@import url('~/node_modules/normalize.css/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Plus+Jakarta+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Play', sans-serif;;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    height: 40px;
    padding: 5px;
}

select {
    height: 35px;
}

.documents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label {
    margin: 3px 4px;
}

.inputgroup {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
    column-gap: 1rem;
    margin: 0 5px 20px;
}

.inputwrap {
    display: flex;
    flex-direction: column;
}